* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #eef3f8;
}

#page {
    width: 1280px;
    margin: 50px auto;
    display: flex;
    justify-content: flex-end;
}

#wrap {
    width: 350px;
}

#top{
    width: 350px;
    background-color: white; 
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 30px;
}

/* 제목*/
#top > h2{
    font-size: 20px;
    margin-bottom: 16px;
}

/* inputBox */
.inputBox{
    margin-bottom: 18px;

}

/* pname */
#top select,
#top input {
    width: 100%;
    padding: 11px;
    border: 1px solid #191616;
    border-radius: 6px;
}

/* 날짜 */
.dateBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}


/* 시작일 , 종료일 */
.dateBox > div {
    width: 48%;
}

/* 날짜 입력칸 */
.dateBox input {
    width: 100%;
}

/* 신청 버튼 */
#top > button {
    display: block;
    margin-left: auto;
    background-color: #07a497;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 11px 30px;;
    cursor: pointer;
    font-weight: bold;
}

#main {
    width: 350px;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
}

/* 휴가 목록 제목 */
#main > h2 {
    font-size: 15px;
    margin-bottom: 20px;
}

